* {
    background: #E5E5E5;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

body{
    font-family: "montserrat", sans-serif;
}

.titulo-principal{
    display: inline-block;
    font-size: 40px;
    color: #0A3871;
}

.logo {
    margin-left: 10px;
    margin-top: 10px;
    width:3%;
    display: inline-block;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;    
    font-weight: 400;
    padding: 15px;
}
::placeholder { color: #0A3871; }
  .text-area:focus {
      outline: none;
    }

.mensagem {
    background: white;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 10px;
    padding: 20px;
    position: absolute;
    font-weight: 400;
}

.mensagem:focus {
    outline: none;
}


.botoes {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    transition: 1s;
}

.btn-desencriptar:hover{
    background-color: #0A3871;
    color: white;
}


.btn-encriptar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    transition: 1s;
}
.btn-encriptar:hover{
    background-color: #0A3871;
    color: white;
}


.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 130px;
    margin-top: 402px;
    position: absolute;
    width: 336px;
    transition: 1s;
}

.btn-copiar:hover{
    background-color: #0A3871;
    color: white;
}

.informacao {
    color: #495057;
    font-size:18px;

}

.resultado-cript{
    position: absolute;
    left: 60%;
}

.rodape{
    background: linear-gradient(#E5E5E5,blueviolet);
    position: absolute;
    top: 90%;
    left: 45%;
    text-align: center;
    font-size: 16px;
}

.icons ion-icon{
    width: 25px;
    height: 25px;
    padding: 5px;
    color: #0A3871;
    transition: 500ms;
}

.icons ion-icon:hover{
    color: orange;
}

